App{
  transition: all 2s ease;
}

.footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.notification {
  position: absolute;
  top: 20px;
  margin: 0 auto;
  background-color: #abb6ab00;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  transition: opacity 0.5s ease;
  font-size: 30px;
}

.notification.hidden {
  opacity: 0;
}


